@use '../../styles/colors.scss' as *;

a {
  text-decoration: none;
  color: white;
}

.card {
  width: 10rem;
  padding: 0.8rem 0.8rem 0.2rem 0.8rem;
  border-radius: 1rem;
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    .name {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .number {
      color: black;
      font-weight: bold;
      opacity: 0.2;
    }
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .types {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      li {
        list-style: none;
        background-color: rgba(255, 255, 255, 0.2);
        width: 4rem;
        text-align: center;
        padding: 0.2rem 0;
        border-radius: 0.6rem;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
    .image {
      z-index: 10;
    }
  }
}

.card::before {
  content: '';
  background-image: url('../../../public/pokeball.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 2.5rem;
  right: 0px;
  bottom: 0px;
  left: 5rem;
  opacity: 0.2;
}
