@use '../../styles/main.scss' as *;
@use '../../styles/colors.scss' as *;

a {
  color: black;
}

.list-container::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../../public/pokeball.jpeg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right -7rem top -7.2rem;
  opacity: 0.2;
  @media (min-width: 1025px) {
    background-size: 20%;
    background-position: right 20.1rem top -9.2rem;
  }
}

.menu {
  margin-top: 2rem;
  display: flex;
  justify-content: right;
  img {
    z-index: 10;
    width: 1.2rem;
    margin-right: 0.4rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  margin: 2rem 0;
  font-family: 'Press Start 2P', cursive;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @media (min-width: 1025px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.empty {
  display: flex;
  align-items: center;
  color: $fire;
  font-weight: bold;
  img {
    height: 6rem;
  }
}

.filter-icon {
  z-index: 10;
  display: grid;
  place-content: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: $filter;
  margin-right: 1.7rem;
  margin-bottom: 0.6rem;
  @media (min-width: 1025px) {
    margin-right: 25rem;
    margin-bottom: 2rem;
  }
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
  img {
    width: 1rem;
    height: 1rem;
  }
}
