@use '../../styles/colors.scss' as *;

.page {
  display: grid;
  justify-content: center;
  .header {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    padding-top: 2rem;
    padding-inline: 1rem;
    .name {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .types {
      display: flex;
      gap: 0.2rem;
      li {
        list-style: none;
        background-color: rgba(255, 255, 255, 0.2);
        width: 4rem;
        text-align: center;
        padding: 0.2rem 0;
        border-radius: 0.6rem;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
    .number {
      font-weight: bold;
    }
    .svg {
      position: absolute;
      top: -10rem;
      right: 0px;
      bottom: 0px;
      left: -10rem;
      clip-path: inset(10rem 0 0 10rem);
      filter: brightness(0) invert(1);
      opacity: 0.1;
    }
  }
  .image {
    padding-inline: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    z-index: 10;
  }
  .info {
    margin-top: -2.3rem;
    z-index: 9;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 2.6rem;
    padding-inline: 1rem;
    .navbar {
      display: flex;
      justify-content: space-between;
      button {
        border: none;
        background-color: white;
        font-weight: bold;
        margin-bottom: 1.8rem;
        position: relative;
        &.active::after {
          position: absolute;
          content: '';
          border-bottom: 1.5px solid $dragon;
          width: 100%;
          transform: translateX(-50%);
          bottom: -0.8rem;
          left: 50%;
        }
      }
    }
    meter {
      width: 6.4rem;
      margin-left: 1.8rem;
    }
  }
}

.page::before {
  content: '';
  background-image: url('../../../pokeball.jpeg');
  clip-path: inset(0 2rem 0 0);
  background-size: 90%;
  background-repeat: no-repeat;
  position: absolute;
  top: 8rem;
  right: 0px;
  bottom: 0px;
  left: 14rem;
  opacity: 0.2;
}
th {
  font-size: 0.9rem;
  text-align: left;
}
td {
  padding: 0.2rem 0;
}
td:first-child {
  color: gray;
  width: 6rem;
}
table.stats {
  td:first-child {
    width: 8rem;
  }
}
table.moves {
  td:first-child {
    color: black;
    width: fit-content;
  }
  td:nth-child(2) {
    color: gray;
    width: 6rem;
  }
  th:nth-child(3) {
    text-align: center;
  }
  td:nth-child(3) {
    text-align: center;
  }
}
