@use '../../styles/main.scss' as *;
@use '../../styles/colors.scss' as *;

.filter {
  h2 {
    line-height: 2.3rem;
  }
  input {
    margin: 1rem 0;
    width: 100%;
    border: none;
    background-color: $gray;
    padding: 0.7rem 1.2rem;
    @include border-radius;
  }
}
